.sidebar {
    color: grey;
    height: 25vh;
    position: -webkit-sticky;
    position: sticky;
    top: 15%;
    border-left: 1px solid lightgray;
}

.name-form {
    padding: 30px;
}

.invalid-text {
    color: red;
    font-size: small;
}

.content {
    color: gray;
}

.app-container {
    padding-left: 0px;
}

.primary-btn {
    width: 80px;
}

.is-current {
    color: black;
}

.table-heading {
    font-weight: bold;
}

body { padding-top: 100px; }